html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------------------------------------------------------- */

html {
    animation: lock 3s;
}

body{
    height: 100%;
    background-color: #282829;
}

h1{
    color: #FF634F;
}

h2{
    color: #ffa599; 
}

p{
    color: #acacb1;
}





.loader-wrapper{
    background-color: #282829;
    background-attachment: local;

    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    text-align: center;
    justify-content: center;
    animation: loader-wrapper 3s ease forwards;
}

.loader {
    display: inline-block;
    width: 250px;
    height: 250px;
    top:30%;
    position: relative;
    animation-duration: 3s;
    animation: loader 6s ease forwards;

    background-image: url("images/circleLogo.png");
    background-size: cover;
  }



  
 
  
  @keyframes loader {
    0% {
        transform: rotateY(0deg);   
        opacity: 1;
    }
    
    25% {
        transform: rotateY(180deg);
        opacity: 1;   

    }
    
    50% {
        transform: rotateY(360deg);
        opacity: 1;   

    }
    
    75% {
        transform: rotateY(540deg);   

    }
    
    100% {
        transform: rotateY(720deg);
        opacity: 0;
        display: none;      
    }
  }

  @keyframes loader-wrapper {
      0% {
            opacity: 1;
      }
      90% {
          opacity: 1;
      }
      100% {
          opacity: 0;
       
      }
  }



  @keyframes lock{
      0% {
          overflow: hidden;
      }

      98%{
          overflow: hidden;
      }

    100% {
        overflow: auto;
    }
  }
 

  
  
