html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input:focus, textarea:focus {
    outline: none;
}

/* ----------------------------------------------------------- */




html {
    animation: lock 3s ease;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;

  
}

body{
   
    background-color: #1e1e1f;
}

h1{
    color: #cd5c5c;
}

h2{
    color: #dbd7d7; 
}

h3{
    color: #dbd7d7;
}

h2 span {
    color: #cd5c5c;
}

h5{
    color: #e6aeae;
}


p{
    color: #dbd7d7;
}

a img {
    height: 5em;
    width: 5em;
    z-index: 10;
}


.mainNav{
    background-color: #141415;
    display: block;
    position: fixed;
    height: 100vh;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 10px;
    text-align: center;
}

.nav-item a{
    padding: none;
    margin-top: 10px;
}

#linkedIn img, #github img{
    width: 35px;
    height: 35px;
    border-radius: 10%;
}

#linkedIn img:hover, #github img:hover{
   background-color: #cd5c5c;
}



.intro{
    height: 100vh;
    width: 100vw;
    padding-right: 90px;
    padding-left: 121px;

}

a {
    color: #dbd7d7;
}

.intro h1 {
    font-size: 4.7em;
    text-align: right;
    padding-right: 0.75em;
    padding-top: 0.3em;
    text-transform: uppercase;
    padding-bottom: 1.5em;
}

.intro h2 {
    font-size: 4em;
    text-align: right;
    padding-right: 0.75em;
    padding-top: 0.5em;
    padding-bottom: 1em;
    text-transform: uppercase;
}

.intro h5 {
    text-align: right;
    padding-right: 2em;
    padding-top: 1em;
    font-size: 2em;
}

#intro1{
   
    animation: intro1 2s ease-out;
    animation-delay: 2s;
}

#intro2{

    animation: intro2 4.2s ease-out;
    animation-delay: 2s;
 
}

#intro3{
    animation: intro3 4.5s ease-out;
    animation-delay: 2s;
}

#intro4{
    animation: intro4 4.5s ease-out;
    animation-delay: 2s;
}

#scroller {
    display: block;
    padding-bottom: 1.5em;
    text-align: center;
    bottom:0;
    left:50%;
    justify-content: center;
    position: absolute;
    z-index: 5;
    padding-left: 17px;

}

#scroller img{
    height: 70px;
    width: 70px;
    animation: scroller 2s infinite ease;
    -webkit-animation: scroller 2s infinite ease;
    opacity: 0;
    animation-delay: 6.8s;
    transform-origin: center;
}


.page {
    height: 100vh;
    width: 100vw;
    padding-left: 121px;
    padding-right: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.about {
    display: inline-block;
    background-color: #252526;
   
}



.aboutText {
    padding-top: 40px;
}

.about p {
    font-size: 20px;
    line-height: 1.1;
}

.about h1 {
    color: #dbd7d7;
    text-align: left;
}

.about span {
    color: #cd5c5c;
}

.about a img {
   width: 150px;
   height: 55px;
   margin-top: 50px;

}

.about h2 {
    margin-top: 50px;
    margin-bottom:0;
}


#aboutPage {
 padding-right: 7px;
}


.aboutMe{
    width: 90%;
    margin: auto;
}

.map {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-right: 10%;
    padding-bottom: 10%;
    z-index: 0;
  
}

.travelMap {
    display: flex;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 47, 48, 0.8);
   
}

#travelButton {
    background-color: #252526;
    border: none;
    margin-top: 2%;
}

iframe {
    height: 90%;
    width: 80%;
}










.logo a {
    text-align: center;
    justify-content: center;
    
}

.nav-item a{
    display: block;
    text-decoration: none;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 30px;
    text-align: center;
}

.nav-item a:hover{
    color:#FF634F;
}









.loader-wrapper{
    background-color: #1e1e1f;
    background-attachment: local;

    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    text-align: center;
    justify-content: center;
    animation: loader-wrapper 2.5s ease forwards;
    -webkit-perspective: 90000px;
    perspective: 90000px;
  
}

.loader {
    display: inline-block;
    width: 250px;
    height: 250px;
    top:30%;
    position: relative;
    animation-duration: 2.5s;
    animation: loader 4s ease forwards;
    background-image: url("images/logo.png");
    background-size: cover;
    
  }


  .activeButton {
    color: #FF634F;
}

    

    #skillsTitle {
        padding-top: 50px;
    }

    #skillsPage h2{
        color: #cd5c5c;
        display: block;
        padding-bottom: 30px;
        padding-right: 120px;
        text-align: right;
    }
  
    #skillsPage {
        display: block;
    }
 
    .categories, .skillGroups{
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: #515153 solid;
    }

    .categoryBlock{
        display: none;
        justify-content: center;
        align-items: center;
    }
 

    #skillSets, #skillSets .row  {
        height: 80%;
        text-align: center;
        justify-content: center;
    }


    #skillSets .row {
        background-color: #282829;
    }

    #skillsPage h3{
        font-size: 30px;
    }


    #skillSets button{
        display: block;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: #282829;
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 5%;
        border: none;
    }
   

    .highlightButton {
        color: #cd5c5c;
    }

    .skillDiv {
        display: none;
    }

    #langPhrase{
        color:#cd5c5c;
        font-size: 60px;
        margin-top: 10px;
    }

    .showBlock{
        display: block;
    }

    .showFlex{
        display: flex;
    }

    .skillDescriptions {
        padding-top: 75px;
        padding-bottom: 50px;
       
        font-size: 20px;
    }

    .left{
        text-align: right;
        margin-right: 40px;
    }

    .right {
        text-align: left;
        margin-left: 40px;
    }

    .skillDescriptions .col {
        color:#b1b1b1;
        justify-content: left;
    }

    .skillDescriptions .col div {
        display: inline-block;
        text-align: left;
        padding-bottom: 25px;
        font-size: 18px;
        
    }

   

    .skillDescriptions i {
        color:#cd5c5c;
    }

    #skillDescriptions {
        padding-top: 50px;
    }

    h4{
        align-items: center;
        margin: auto;
        height: 100%;
        width: 100%;
        color: white;
        display: none;
    }

    #carouselExampleIndicators {
        height: 75vh;
        width: 101%;
        background-color: #252526;
    }

    #involvementPage h2{
        display: block;
        margin: auto;
        color: #cd5c5c;
        margin-bottom: 20px;
    }

    
    
    .carousel-inner {
        width: 50%;
        height: 80%;
        margin: auto;
        top: 5%;
        display: flex;
        align-items: center;
    }

    .carousel-item img {
        margin-bottom: 100px;
    }


    
    #projectTitle{
        display: block;
        color: #cd5c5c;
        width: 101%;
        margin-bottom: 20px;
        background-color: #1e1e1f;
        text-align: right;
        padding-right: 155px;
    }

    #projectsPage .container-fluid {
        height: 90%;
        background-color: #282829;
        padding-left: 0px;
        margin-left:13px;
    }

    #projectsPage .row {
    
        width: 100%;
        height: 40%;
        margin-bottom: 20px;
    }

    #projectsPage .col{
        display: flex;
       
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .card {
        width: 350px;
        border: none;
    }

    .card-title {
        font-size:18px;
    }

    .card-body{
        background-color: #575757;
        border: none;
    }

    .card-text {
        padding-bottom: 10px;
    }

    .card-body a:hover{
        color: #131313;
    }

    .courseWork{
        position: absolute;
        z-index: 0;
        display: none;
        justify-content: center;
        height: 90%;
        width: 90%;
    }

    #courseList{
        background-color: rgba(45,45,46, 0.98);
        display: flex;
        justify-content: center;
        height: 85%;
        width: 85%; 
        margin-left: 20px;  
        overflow-y: scroll;   
        overflow-x: hidden;
    }

    #courseContent {
        color: #dbd7d7;
        padding: 10px;
    }
    
    .semester h5{
        color: #cd5c5c;
        font-size: 24px;
        margin-bottom: 10px;
    }


    .semester {
        text-align: left;
        margin-bottom: 8px;
    }

    .semester div {
        margin-bottom: 20px;
        font-size: 16px;
        margin-left: 20px;
    }

    .semester h6 {
        font-size: 18px;
        margin-bottom: 5px;
        text-decoration: underline #999999 1px;

        
    }

    #courseworkTitle {
        color:white;
        font-size: 30px;
        justify-content: center;
    }
    

    #contactContainer {
        display: block;
        padding: 0;
    }

    #contactContainer h2 {
        margin-bottom: 30px;
    }

    #emailForm {
        background-color: #252526;
        border-radius: 20px;
    }
    #emailForm .row {
        height: 50vh;
    }
    #emailForm .col-5, #emailForm .col-7 {
        height: 50vh;
        justify-content: center;
        align-items: center;
    }

    #emailForm .col-5 {
        display: flex;
        align-items: center;
    }

    #emailForm .col-5 p {
        font-size: 16px;
    }

    #emailForm .col-7 {
        background-color: #2d2d2e;
        border-radius: 0 20px 20px 0;
    }

    #emailForm label {
        display: block;
        margin: 20px;
    }

    #emailForm p {
        font-size: 20px;
        margin: 10px;
        margin-top: 15px;
    }

    #emailForm input, #emailForm textarea {
        background-color: #1e1e1f;
        color:#dbd7d7;
        border-style: inset;
        border-width: 2px;
        width: 90%;
    }

    #emailForm input {
        height: 30px;
    }

    #emailForm form {
        height: 30vh;
    }

    #emailForm button{
        margin-top: 5px;
        background-color: #1e1e1f;
        color: #dbd7d7;
        padding: 5px;
        padding-right: 20px;
        padding-left: 20px;
        border-radius: 5px;
        font-size: 18px;
    }

    textarea {
        height: 300px;
        resize: none;
    }
   
    footer {
        background-color: #252526;
        height: 100px;
        width: 101%;
        margin-top: 12%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    footer p {
        font-size: 18px;
    }

    .show {
        display: flex;
        z-index: 1;
    }
    

  @keyframes intro1{
      0% {
          transform: translateX(55%);
      }
      100% {
          transform: translateX(0%);
      }
  }

 



  @keyframes intro2{
    0% {
        transform: translateX(100%);
    }
   
    100% {
        transform: translateX(0%);
    }
}

@keyframes intro3{
    0% {
        transform: translateX(125%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes intro4{
    0% {
        transform: translateX(125%);
    }
   
    100% {
        transform: translateX(0%);
    }
}

@keyframes scroller{
    0% {
        transform: translateY(0%);
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: translateY(25%) rotateY(360deg);
        opacity: 1;
    }
}


 
  
  @keyframes loader {
    0% {
        transform: rotateY(0deg);   
        opacity: 1;
    }
    
    25% {
        transform: rotateY(180deg);
        opacity: 1;   

    }
    
    50% {
        transform: rotateY(360deg);
        opacity: 1;   

    }
    
    75% {
        transform: rotateY(540deg);   

    }
    99%{
        z-index: 6;
    }
    100% {
        transform: rotateY(720deg);
        opacity: 0;
        display: none;
        z-index: -1;    
    }
  }

  @keyframes loader-wrapper {
      0% {
            opacity: 1;
      }
      90% {
          opacity: 1;
      }
      99% {
          z-index: 5;
      }

      100% {
          opacity: 0;
          z-index: -1;
       
      }
  }


  @keyframes lock{
      0% {
          overflow: hidden;
      }

      98%{
          overflow: hidden;
      }

    100% {
        overflow: auto;
    }
  }


  @media(max-width: 1180px){
    .intro{
        padding-right:10px;
    }
  }
 
  @media(max-width: 900px) {
      .intro h1{
          font-size: 2.3em;
          padding-bottom: 1em;
          padding-right: 0.5em;
      }
      .intro h2 {
          font-size: 2.2em;
          padding-top: 0.3em;
          padding-bottom: 0.3em;
          padding-right: 0.5em;
      }
      .intro h5 {
          font-size: 1.3em;
      }
      .mainNav img {
          height: 3.5em;
          width: 3.5em;
      }
      .mainNav {
          background-color: #19191b;
          padding-right: 1em;
          top: 0%;

      }
  }

 

  
  
