
.intro{
  margin: -8px -8px 8px;
  height: 100vh;
background: rgb(102,0,142);
background: linear-gradient(180deg, rgba(102,0,142,1) 25%, rgba(156,17,210,1) 73%, rgba(178,30,237,1) 90%, rgba(203,83,251,1) 100%);
background-image: url('img/joel-filipe-Wc8k-KryEPM-unsplash.jpg');
}

.hithere{
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
}


.hithere h1{
 position: absolute;
 width: 90%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 font-size: 90px;
 color: white;
  text-align: right;
 font-family:  Roboto, sans-serif;
 
  
  animation: hithere 1s linear;
}

.hithere h2{
  padding-top: 32%;
 position: absolute;
 width: 90%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 font-size: 40px;
 color: white;
  text-align: right;
 font-family:  Roboto, sans-serif;
 
 
  animation: hithere 2s linear;

}

@keyframes hithere {
 0%   { 
 transform: translateX(200%); 		
 }
 100% { 
 transform: translateX(0%); 
 }
}

.about{
  margin: -8px -8px 8px;
  height: 100vh;
background: rgb(246,173,0);
background: linear-gradient(180deg, rgba(246,173,0,1) 0%, rgba(250,184,0,1) 41%, rgba(252,201,47,1) 72%, rgba(254,238,49,1) 92%, rgba(255,254,155,1) 100%);


}

.skills{
  margin: -8px -8px 8px;
  height: 100vh;
  background: rgb(37,221,231);
background: linear-gradient(180deg, rgba(37,221,231,1) 0%, rgba(45,236,237,1) 55%, rgba(40,255,253,1) 84%, rgba(130,255,247,1) 100%);

text-transform: uppercase;
  
}

.projects{
  margin: -8px -8px 8px;
  height: 100vh;
  background: rgb(0,115,26);
background: linear-gradient(180deg, rgba(0,115,26,1) 0%, rgba(0,186,52,1) 48%, rgba(8,230,19,1) 78%, rgba(75,255,83,1) 100%);

text-transform: uppercase;
}

.contact{
  margin: -8px -8px -8px;
  height: 100vh;
  background: rgb(255,59,62);
background: linear-gradient(180deg, rgba(255,59,62,1) 0%, rgba(255,95,98,1) 54%, rgba(255,122,122,1) 78%, rgba(255,179,179,1) 100%);
text-transform: uppercase;
  
}